.input{
	padding:0px 15px 15px 0px;
}
.container_input{
	display: flex;
	align-items: center;
	justify-content: center;
}
.button{
	color: #B14648;
	margin-left: 5px;
	cursor: pointer;
}
.mas{
	text-align: center;

}
.masseng{
	display: inline-block;

}
.nick{
	color: #E7F1F6;
	display: block;
}
.massenger_chat{
	display: none;

}
.start_button{
			padding: 10px 15px 10px 15px;
			background-color: #B14648;
			border-radius: 5px;
			border-color: #B14648;
			color: white;
			display: inline-block;
			font-family: 'Montserrat', sans-serif;
			font-size: 25px;

		}
		.button_container{
			text-align: center;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.active{
			display: inline-block !important;
		}
		.none-active{
			display: none !important;
		}
		.nickname{
			color: #3A5A75;
			font-size: 30px;
			font-family: 'Montserrat', sans-serif;
			margin-bottom: 10px;
		}
		.super_container{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
		html,body,.button_container{
			height: 100%;
		}
		.SMS{
			padding: 10px 100px 15px 10px;
			margin-top: 5px;
			background-color: #E6EBF1;
			display: block;
		}